:root {
    /*colores por defecto*/
    --primary: #191919;
    --primarylight: #2e2e2e;
    --secundary: #0074d9;
    --secundarylight: #2888db;
    --white: #fff;
}

body {
    /*agregando color de fondo*/
    background-color: var(--primarylight);
}

p {
    color: white;
}

.ui.medium.attached.stackable.menu {
    background-color: var(--primary);
    border-color: var(--primary);
}

ui.medium.attached.stackable.menu a {
    color: var(--secundary);
}

.ui.simple.dropdown.item {
    color: var(--secundary);
}

.ui.attached.dropdown.item.ui.menu {
    background-color: var(--primary);
}

.ui.simple.dropdown.item.ui.menu.item {
    color: var(--secundary);
}

.ui.justified.text.container.segment {
    background-color: var(--primary);
    margin: 4em 0;
}

.ui.justified.text.container.segment h2 {
    color: var(--secundary);
}