:root {
  --primary: #191919;
  --primarylight: #2e2e2e;
  --secondary: #0074d9;
  --secondarylight: #2888db;
  --white: #fff;
}

body {
  background-color: var(--primarylight);
}

p {
  color: white;
}

.ui.medium.attached.stackable.menu {
  background-color: var(--primary);
  border-color: var(--primary);
}

.ui.medium.attached.stackable.menu a {
  color: var(--secondary);
}

.ui.simple.dropdown.item {
  color: var(--secondary);
}

.ui.simple.dropdown.item .ui.menu {
  background-color: var(--primary);
}

.ui.simple.dropdown.item .ui.menu .item {
  color: var(--secondary);
}

.ui.justified.text.container.segment {
  background-color: var(--primary);
  margin: 4em 0;
}

.ui.justified.text.container.segment h2 {
  color: var(--secondary);
}

.ui.large.vertical.labeled.icon.buttons .ui.segment {
  background-color: var(--primary);
}

.ui.large.vertical.labeled.icon.buttons .ui.segment h2 {
  color: var(--secondary);
}

.ui.large.vertical.labeled.icon.buttons .ui.button {
  background-color: var(--secondary);
  color: var(--white);
}

.ui.large.vertical.labeled.icon.buttons .ui.button:hover {
  background-color: var(--secondarylight);
}
.ui.justified.container.segment {
  background-color: var(--primary);
}
.ui.justified.container.segment .ui.header {
  color: var(--secondary);
}

.ui.justified.container.segment .ui.inverted.header {
  color: var(--white);
}

.ui.stackable.two.column.grid .column .ui.segment,
.ui.stackable.five.column.grid .column .ui.segment {
  background-color: var(--primarylight);
}
/*ESTILOS PARA EL CATALOGO DE CADA CONSOLA
COPIAR ESTA SECCION
*/
.ui.items .ui.inverted.header {
  color: var(--white);
}

.ui.items .ui.right.floated.button {
  background-color: var(--secondary);
}
.ui.items .ui.right.floated.button a {
  text-decoration: none;
  color: var(--white);
}
.ui.items .ui.right.floated.button:hover {
  background-color: var(--secondarylight);
}
/*IMAGEN HERO PARA PS4*/
.hero-ps4 {
  background: url(../images/images-ramon/ps4/hero-ps4.jpg) no-repeat center;
}
.hero-xbox {
  background: url(../images/images-pol/xboxone/log1.jpg) no-repeat center;
}
.hero-switch {
  background: url(../images/images-nohemy/Nintendo/switch-hero.jpg) no-repeat
    center;
}
.hero-ps4 {
  background: url(../images/images-ramon/ps4/hero-ps4.jpg) no-repeat center;
}

/*
ESTILOS PARA EL CATALOGO DE CADA CONSOLA
-------------------------------------------------------------------------*/

/*IMAGENES HERO PARA GOD OF WAR*/

.hero1-gw {
  background: url(../images/images-ramon/gow/hero-images/hero1-godofwar.jpg)
    no-repeat center;
}

.hero2-gw {
  background: url(../images/images-ramon/gow/hero-images/hero2-godofwar.jpg)
    no-repeat center;
}

.hero3-gw {
  background: url(../images/images-ramon/gow/hero-images/hero3-godofwar.jpg)
    no-repeat center;
}

.hero4-gw {
  background: url(../images/images-ramon/gow/hero-images/hero4-godofwar.jpg)
    no-repeat center;
}

/*IMAGENES HERO PARA THE LAST OF US REMASTERED*/

.hero1-tlu {
  background: url(../images/images-ramon/tlu/hero-images/hero1-TheLastOfUs.jpg)
    no-repeat center;
}

.hero2-tlu {
  background: url(../images/images-ramon/tlu/hero-images/hero2-TheLastOfUs.jpg)
    no-repeat center;
}

.hero3-tlu {
  background: url(../images/images-ramon/tlu/hero-images/hero3-TheLastOfUs.jpg)
    no-repeat center;
}

.hero4-tlu {
  background: url(../images/images-ramon/tlu/hero-images/hero4-TheLastOfUs.jpg)
    no-repeat center;
}
/*IMAGENES HERO PARA BLOODBORNE */
.hero1-bb {
  background: url(../images/images-ramon/bloodb/hero-images/hero1-bloodborne.jpg)
    no-repeat center;
}
.hero2-bb {
  background: url(../images/images-ramon/bloodb/hero-images/hero2-bloodborne.jpg)
    no-repeat center;
}
.hero3-bb {
  background: url(../images/images-ramon/bloodb/hero-images/hero3-bloodborne.jpg)
    no-repeat center;
}
.hero4-bb {
  background: url(../images/images-ramon/bloodb/hero-images/hero4-bloodborne.jpg)
    no-repeat center;
}

/*IMAGENES HERO PARA UNCHARTED*/
.hero1-ut {
  background: url(../images/images-ramon/uncharted/hero-images/hero1-uncharted.jpg)
    no-repeat center;
}
.hero2-ut {
  background: url(../images/images-ramon/uncharted/hero-images/hero2-uncharted.jpg)
    no-repeat center;
}
.hero3-ut {
  background: url(../images/images-ramon/uncharted/hero-images/hero3-uncharted.jpg)
    no-repeat center;
}
.hero4-ut {
  background: url(../images/images-ramon/uncharted/hero-images/hero4-uncharted.jpg)
    no-repeat center;
}

/*IMAGENES HERO PARA DEATH STRANDING*/
.hero1-dst {
  background: url(../images/images-ramon/dst/hero-images/hero1-dst.jpg)
    no-repeat center;
}
.hero2-dst {
  background: url(../images/images-ramon/dst/hero-images/hero2-dst.jpg)
    no-repeat center;
}
.hero3-dst {
  background: url(../images/images-ramon/dst/hero-images/hero3-dst.jpg)
    no-repeat center;
}
.hero4-dst {
  background: url(../images/images-ramon/dst/hero-images/hero4-dst.jpg)
    no-repeat center;
}

.hero1-m {
  background: url(../images/images-pol/minecraft/minecraft1.jpg) no-repeat
    center;
}

.hero2-m {
  background: url(../images/images-pol/minecraft/minecraft2.jpg) no-repeat
    center;
}

.hero3-m {
  background: url(../images/images-pol/minecraft/minecraft4.jpg) no-repeat
    center;
}

.hero4-m {
  background: url(../images/images-pol/minecraft/minecraft5.jpg) no-repeat
    center;
}

/*IMAGENES HERO PARA FIGHTER WITHIN*/

.hero1-fw {
  background: url(../images/images-pol/fighterwithin/fw3.jpg) no-repeat center;
}

.hero2-fw {
  background: url(../images/images-pol/fighterwithin/fw5.jpg) no-repeat center;
}

.hero3-fw {
  background: url(../images/images-pol/fighterwithin/fw6.jpg) no-repeat center;
}

.hero4-fw {
  background: url(../images/images-pol/fighterwithin/fw2.jpg) no-repeat center;
}

/*IMAGENES HERO PARA FORZA MOTORSPORT 6*/

.hero1-fm {
  background: url(../images/images-pol/forzamotorsport6/fm1.jpg) no-repeat
    center;
}

.hero2-fm {
  background: url(../images/images-pol/forzamotorsport6/fm2.jpg) no-repeat
    center;
}

.hero3-fm {
  background: url(../images/images-pol/forzamotorsport6/fm3.jpg) no-repeat
    center;
}

.hero4-fm {
  background: url(../images/images-pol/forzamotorsport6/fm4.jpg) no-repeat
    center;
}

/*IMAGENES HERO PARA HALO 5: GUARDIANS*/

.hero1-h {
  background: url(../images/images-pol/halo5guardians/halo6.jpg) no-repeat
    center;
}

.hero2-h {
  background: url(../images/images-pol/halo5guardians/halo5.jpg) no-repeat
    center;
}

.hero3-h {
  background: url(../images/images-pol/halo5guardians/halo4.jpg) no-repeat
    center;
}

.hero4-h {
  background: url(../images/images-pol/halo5guardians/halo3.jpg) no-repeat
    center;
}

/*IMAGENES HERO PARA QUANTUM BREAK*/

.hero1-qb {
  background: url(../images/images-pol/quantumbreak/qb4.jpg) no-repeat center;
}

.hero2-qb {
  background: url(../images/images-pol/quantumbreak/qb3.jpg) no-repeat center;
}

.hero3-qb {
  background: url(../images/images-pol/quantumbreak/qb2.jpg) no-repeat center;
}

.hero4-qb {
  background: url(../images/images-pol/quantumbreak/qb1.jpg) no-repeat center;
}
/*TODOS LOS HERO DE NINTENDO SWITCH*/
/*IMAGENES HERO PARA THE LEYEND OF ZELDA*/
.hero1-TLOZ {
  background: url(../images/images-nohemy/Zelda-BreathOfTheWild/hero/hero1.jpg)
    no-repeat center;
}
.hero2-TLOZ {
  background: url(../images/images-nohemy/Zelda-BreathOfTheWild/hero/hero2.jpg)
    no-repeat center;
}
.hero3-TLOZ {
  background: url(../images/images-nohemy/Zelda-BreathOfTheWild/hero/hero3.jpg)
    no-repeat center;
}
.hero4-TLOZ {
  background: url(../images/images-nohemy/Zelda-BreathOfTheWild/hero/hero4.jpg)
    no-repeat center;
}
/*IMAGENES HERO PARA INICIO DE NINTENDO*/
.hero1-NINTENDO {
  background: url(../images/images-nohemy/Nintendo/Nintendo.png) no-repeat
    center;
}
/*IMAGENES HERO PARA SUPER MARIO PARTY*/
.hero1-SMP {
  background: url(../images/images-nohemy/SuperMarioParty/hero/hero1.jpg)
    no-repeat center;
}
.hero2-SMP {
  background: url(../images/images-nohemy/SuperMarioParty/hero/hero2.jpg)
    no-repeat center;
}
.hero3-SMP {
  background: url(../images/images-nohemy/SuperMarioParty/hero/hero3.jpg)
    no-repeat center;
}
.hero4-SMP {
  background: url(../images/images-nohemy/SuperMarioParty/hero/hero4.jpg)
    no-repeat center;
}
/*IMAGENES HERO PARA MARIO KART 8 DELUXE*/
.hero1-MK8D {
  background: url(../images/images-nohemy/MarioKart8Deluxe/hero/hero1.png)
    no-repeat center;
}
.hero2-MK8D {
  background: url(../images/images-nohemy/MarioKart8Deluxe/hero/hero2.png)
    no-repeat center;
}
.hero3-MK8D {
  background: url(../images/images-nohemy/MarioKart8Deluxe/hero/hero3.jpg)
    no-repeat center;
}
.hero4-MK8D {
  background: url(../images/images-nohemy/MarioKart8Deluxe/hero/hero4.png)
    no-repeat center;
}
/*IMAGENES HERO PARA SUPER MARIO ODYSSEY*/
.hero1-SMO {
  background: url(../images/images-nohemy/SuperMarioOdyssey/hero/hero1.png)
    no-repeat center;
}
.hero2-SMO {
  background: url(../images/images-nohemy/SuperMarioOdyssey/hero/hero2.png)
    no-repeat center;
}
.hero3-SMO {
  background: url(../images/images-nohemy/SuperMarioOdyssey/hero/hero3.png)
    no-repeat center;
}
/*MAGENES HERO PARA Super Mario Smash Bros Ultimate*/
.hero1-SMSBU {
  background: url(../images/images-nohemy/SmashBros/hero/hero1.jpg!d) no-repeat
    center;
}
.hero2-SMSBU {
  background: url(../images/images-nohemy/SmashBros/hero/hero2.jfif) no-repeat
    center;
}
.hero3-SMSBU {
  background: url(../images/images-nohemy/SmashBros/hero/hero3.jpg) no-repeat
    center;
}
.hero4-SMSBU {
  background: url(../images/images-nohemy/SmashBros/hero/hero4.jpg) no-repeat
    center;
}

/*IMAGENES HERO PARA PC*/

/*
Estilos para la lista de los requisitos y lo idimos
*/
.ui.bulleted.list .item {
  color: var(--white);
}

.languages {
  margin-top: 3em;
  text-align: left;
}

.languages .ui.header {
  color: var(--white);
}

.minimo {
  margin: 0em auto;
  float: left;
  display: flex;
  height: 6.25em;
  width: 6.25em;
  justify-content: space-evenly;
  align-items: left;
}
.recomendado {
  padding: 0em;
  margin-top: 0em;
  float: right;
  display: flex;
  height: 6.25em;
  width: 6.25em;
  justify-content: space-evenly;
  align-items: right;
}
.idioma {
  padding: 10em;
  margin-top: 15em;
  position: relative;
  display: flex;
  height: 6.25em;
  width: 6.25em;
  align-items: center;
}
/*IMAGENES HERO PARA JOHN WICK HEX*/
.hero1-john {
  background: url(../images/images-will/John/hero-john/john-wick-hex-hero1.png)
    no-repeat center;
}
.hero2-john {
  background: url(../images/images-will/John/hero-john/john-wick-hex-hero2.jpg)
    no-repeat center;
}

.hero3-john {
  background: url(../images/images-will/John/hero-john/johnwickhexhero3.png)
    no-repeat center;
}
.hero4-john {
  background: url(../images/images-will/John/hero-john/hero4john.jpg) no-repeat
    center;
}
/*IMAGENES HERO PARA THE LAST OF US REMASTERED*/
.hero1-fortnite {
  background: url(../images/images-will/Fortnite/Hero-Fortnite/fortnite-hero1.jpg)
    no-repeat center;
}
.hero2-fortnite {
  background: url(../images/images-will/Fortnite/Hero-Fortnite/fortnite-hero2.jpg)
    no-repeat center;
}

.hero3-fortnite {
  background: url(../images/images-will/Fortnite/Hero-Fortnite/fortnite-hero3.jpg)
    no-repeat center;
}
.hero4-fortnite {
  background: url(../images/images-will/Fortnite/Hero-Fortnite/fortnite-hero4.jpg)
    no-repeat center;
}

/*IMAGENES HERO PARA GHOST RECON WILDLANDS*/
.hero1-ghost {
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero1.jpg)
    no-repeat center;
}
.hero2-ghost {
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero2.jpg)
    no-repeat center;
}

.hero3-ghost {
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero3.jpg)
    no-repeat center;
}
.hero4-ghost {
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero4.jpg)
    no-repeat center;
}

/*IMAGENES HERO PARA RAINBOW SIX SIEGE*/
.hero1-rainbow {
  background: url(../images/images-will/RainbowSix/Hero-rainbow/rainbow_six__nombre_provisional_-hero1.jpg)
    no-repeat center;
}
.hero2-rainbow {
  background: url(../images/images-will/RainbowSix/Hero-rainbow/rainbow_six__nombre_provisional_hero2.jpg)
    no-repeat center;
}

.hero3-rainbow {
  background: url(../images/images-will/RainbowSix/Hero-rainbow/rainbow_six__nombre_provisional_hero3.jpg)
    no-repeat center;
}
.hero4-rainbow {
  background: url(../images/images-will/RainbowSix/Hero-rainbow/rainbow_six__nombre_provisional_hero4.jpg)
    no-repeat center;
}

/*IMAGENES HERO PARA WATCH DOGS 2*/
.hero1-watch {
  background: url(../images/images-will/Watchdogs2/hero-watch/watch_dogs_2-hero1.jpg)
    no-repeat center;
}
.hero2-watch {
  background: url(../images/images-will/Watchdogs2/hero-watch/watch_dogs_2-hero2.jpg)
    no-repeat center;
}

.hero3-watch {
  background: url(../images/images-will/Watchdogs2/hero-watch/watch_dogs_2-hero3.jpg)
    no-repeat center;
}
.hero4-watch {
  background: url(../images/images-will/Watchdogs2/hero-watch/watch_dogs_2-hero4.jpg)
    no-repeat center;
}

.hero {
  position: relative;
  height: 30em;
  background-attachment: fixed;
  overflow: hidden;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.hero-content {
  width: 90%;
  color: white;
  z-index: 1;
  display: flex;
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
}

.info-content p {
  font-size: 1.2em;
  font-weight: bold;
}

.review-content {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.review-content .ui.header {
  color: var(--secondary);
}

.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.2%;
  margin-bottom: 20px;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circular-container {
  margin: 0 auto;
  display: flex;
  height: 6.25em;
  width: 6.25em;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 50%;
}

.site-footer {
  text-align: center;
  background-color: var(--primary);
  padding: 1em;
}

@media (min-width: 768px) {
  .hero {
    align-items: flex-end;
  }
  .information {
    flex-direction: row;
  }
  .info-content {
    text-align: left;
    margin-left: 1em;
  }
  .sales {
    text-align: right;
  }
  .review-content {
    text-align: left;
  }
  .review-content p {
    margin-left: 1em;
  }
  .circular-container {
    margin: 2em auto;
  }
}

@media (max-width: 768px) {
  .info-image {
    display: none;
  }
}
