:root {
  --primary: #191919;
  --primarylight: #2e2e2e;
  --secondary: #0074d9;
  --secondarylight: #2888db;
  --white: #fff;
}

body {
  background-color: var(--primarylight);
}

p {
  color: white;
}

.ui.medium.attached.stackable.menu {
  background-color: var(--primary);
  border-color: var(--primary);
}

.ui.medium.attached.stackable.menu a {
  color: var(--secondary);
}

.ui.simple.dropdown.item {
  color: var(--secondary);
}

.ui.simple.dropdown.item .ui.menu {
  background-color: var(--primary);
}

.ui.simple.dropdown.item .ui.menu .item {
  color: var(--secondary);
}

.ui.justified.text.container.segment {
  background-color: var(--primary);
  margin: 4em 0;
}

.ui.justified.text.container.segment h2 {
  color: var(--secondary);
}

.ui.large.vertical.labeled.icon.buttons .ui.segment {
  background-color: var(--primary);
}
.ui.large.vertical.labeled.icon.buttons .ui.segment h2 {
  color: var(--secondary);
}
.ui.large.vertical.labeled.icon.buttons .ui.button {
  background-color: var(--secondary);
  color: var(--white);
}

.ui.large.vertical.labeled.icon.buttons .ui.button:hover {
  background-color: var(--secondarylight);
}

/*
Estilos para la lista de los requisitos y lo idimos
*/
.ui.bulleted.list .item {
  color: var(--white);
}

.languages {
  margin-top: 3em;
}

.minimo {
  margin: 0em auto;
  float: left;
  display: flex;
  height: 6.25em;
  width: 6.25em;
  justify-content: space-evenly;
  align-items: left;
}
.recomendado {
  padding: 0em;
  margin-top: 0em;
  float: right;
  display: flex;
  height: 6.25em;
  width: 6.25em;
  justify-content: space-evenly;
  align-items: right;
}
.idioma {
  padding: 10em;
  margin-top: 15em;
  position: relative;
  display: flex;
  height: 6.25em;
  width: 6.25em;
  align-items: center;
}
/*IMAGENES HERO PARA JOHN WICK HEX*/
.hero1-john {
  background: url(../images/images-will/John/hero-john/john-wick-hex-hero1.png)
    no-repeat center;
}
.hero2-john {
  background: url(../images/images-will/John/hero-john/john-wick-hex-hero2.jpg)
    no-repeat center;
}

.hero3-john {
  background: url(../images/images-will/John/hero-john/johnwickhexhero3.png)
    no-repeat center;
}
.hero4-john {
  background: url(../images/images-will/John/hero-john/hero4john.jpg) no-repeat
    center;
}
/*IMAGENES HERO PARA THE LAST OF US REMASTERED*/
.hero1-fortnite {
  background: url(../images/images-will/Fortnite/Hero-Fortnite/fortnite-hero1.jpg)
    no-repeat center;
}
.hero2-fortnite {
  background: url(../images/images-will/Fortnite/Hero-Fortnite/fortnite-hero2.jpg)
    no-repeat center;
}

.hero3-fortnite {
  background: url(../images/images-will/Fortnite/Hero-Fortnite/fortnite-hero3.jpg)
    no-repeat center;
}
.hero4-fortnite {
  background: url(../images/images-will/Fortnite/Hero-Fortnite/fortnite-hero4.jpg)
    no-repeat center;
}

/*IMAGENES HERO PARA GHOST RECON WILDLANDS*/
.hero1-ghost {
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero1.jpg)
    no-repeat center;
}
.hero2-ghost {
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero2.jpg)
    no-repeat center;
}

.hero3-ghost {
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero3.jpg)
    no-repeat center;
}
.hero4-ghost {
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero4.jpg)
    no-repeat center;
}

/*IMAGENES HERO PARA GHOST RECON WILDLANDS*/
.hero1-rainbow {
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero1.jpg)
    no-repeat center;
}
.hero2-rainbow {
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero2.jpg)
    no-repeat center;
}

.hero3-rainbow {
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero3.jpg)
    no-repeat center;
}
.hero4-rainbow{
  background: url(../images/images-will/Ghost/Hero-Ghost/tom_clancy__039_s_ghost_recon_wildlands-hero4.jpg)
    no-repeat center;
}

.hero {
  position: relative;
  height: 30em;
  background-attachment: fixed;
  overflow: hidden;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.hero-content {
  width: 90%;
  color: white;
  z-index: 1;
  display: flex;
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
}

.info-content p {
  font-size: 1.2em;
  font-weight: bold;
}

.review-content {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.review-content .ui.header {
  color: var(--secondary);
}
.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.2%;
  margin-bottom: 20px;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circular-container {
  margin: 0 auto;
  display: flex;
  height: 6.25em;
  width: 6.25em;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 50%;
}

.site-footer {
  text-align: center;
  background-color: var(--primary);
  padding: 1em;
}
@media (min-width: 768px) {
  .hero {
    align-items: flex-end;
  }
  .information {
    flex-direction: row;
  }
  .info-content {
    text-align: left;
    margin-left: 1em;
  }
  .sales {
    text-align: right;
  }
  .review-content {
    text-align: left;
  }
  .review-content p {
    margin-left: 1em;
  }
  .circular-container {
    margin: 2em auto;
  }
}

@media (max-width: 768px) {
  .info-image {
    display: none;
  }
}
